In [7]:
from database.mysql import MySqlConnector
from processing.processing import DataClearing

con=MySqlConnector()
con.connect()
dc=DataClearing(con)
dc.load_data()
dc.transform_data()
dc.save_data()


# dc.transform_data()

localhost 3306 root 1122 airflow
Connecting to MySQL database...
Connection established.
Initial data shape: (10, 5)
Initial data :    id         name                    email    age          created_at
0  11    john doe        JOHN.DOE@EMAIL.COM   25.0 2024-06-01 10:00:00
1  12  jane  smith  jane.smith at email.com  200.0 2024-06-02 11:00:00
2  13         None                     None   -5.0                 NaT
3  14        ALICE      alice@@example..com   30.0 2024-07-01 09:00:00
4  15          bob          bob@example.com    NaN 2024-07-02 08:00:00
5  16          Eve            eve@EMAIL.com  150.0 2024-07-03 07:00:00
6  17    Mallory                              45.0                 NaT
7  18        Trudy          trudy.email.com    0.0 2024-07-04 06:00:00
8  19        Oscar                     None    NaN                 NaT
9  20        peggy            peggy@example   35.0 2024-07-05 05:00:00
data cleaning completed [{'id': 11, 'name': ' john doe ', 'email': 'JOHN.DOE@EMAIL.COM', 'age': 25.0, 'created_at': Timestamp('2024-06-01 10:00:00')}, {'id': 12, 'name': 'jane  smith', 'email': 'jane.smith at email.com', 'age': 32.5, 'created_at': Timestamp('2024-06-02 11:00:00')}, {'id': 13, 'name': None, 'email': None, 'age': 32.5, 'created_at': Timestamp('2025-07-20 08:18:00.033766')}, {'id': 14, 'name': 'ALICE', 'email': 'alice@@example..com', 'age': 30.0, 'created_at': Timestamp('2024-07-01 09:00:00')}, {'id': 15, 'name': ' bob', 'email': 'bob@example.com', 'age': 32.5, 'created_at': Timestamp('2024-07-02 08:00:00')}, {'id': 16, 'name': 'Eve', 'email': 'eve@EMAIL.com', 'age': 32.5, 'created_at': Timestamp('2024-07-03 07:00:00')}, {'id': 17, 'name': '  Mallory  ', 'email': '', 'age': 45.0, 'created_at': Timestamp('2025-07-20 08:18:00.033766')}, {'id': 18, 'name': 'Trudy', 'email': 'trudy.email.com', 'age': 32.5, 'created_at': Timestamp('2024-07-04 06:00:00')}, {'id': 19, 'name': 'Oscar', 'email': None, 'age': 32.5, 'created_at': Timestamp('2025-07-20 08:18:00.033766')}, {'id': 20, 'name': 'peggy', 'email': 'peggy@example', 'age': 35.0, 'created_at': Timestamp('2024-07-05 05:00:00')}]
PostgreSQL connection params: localhost:5432
Connecting to PostgreSQL database...
PostgreSQL connection established.
PostgreSQL connected
Table created successfully
Data saved successfully